# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Django
db.sqlite3
media/

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# macOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db